# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Project Data
# =========================
data/videos/*
data/snapshots/*

# Keep folder structure
!data/videos/.gitkeep
!data/snapshots/.gitkeep

models/*.pt
!models/.gitkeep
